
*.dll
*.exe
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.svclog
*.scc
*/obj/*
*/bin/*
./PopulateDB/obj/*
./PopulateDB/bin/*
./Preparador/obj/*
./Preparador/bin/*
./Processador/obj/*
./Processador/bin/*
./Solicitante/obj/*
./Solicitante/bin/*
.vs